$mainBG: #0f0f0f;
$mainColor: #ebebeb;

.cart-menu {
    z-index: 15;
    margin-right: 10px;
    position: absolute;
    border-radius: 20px;
    top: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background: rgb(12 12 12 / 85%);
    backdrop-filter: blur(55px);
    filter: drop-shadow(0 0 25px #000);
    animation: show 0.3s;
}

.clean-cart {
    width: calc(100% - 200px) !important;
    margin: 0 20px;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-list {
    height: inherit;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-confirm {
    padding: 10px;
    width: 100%;
    height: 110px;
}

.cart-image {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.cart-fullprice {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 10px 5px;
}

.cart-price {
    font-size: 16px;
    font-weight: 700;
}

.confirm-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    width: calc(100% - 20px);
    text-decoration: none;
    height: 35px;
    border-radius: 10px;
    color: inherit;
    background: #363636;
    border: none;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        color: #292929;
        background: #ebebeb;
    }
}

.cart-product {
    cursor: pointer;
    display: flex;
    margin: 10px;
    width: 100%;
    height: 100px;
    background: $mainBG;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        transform: scale(1.008);
        filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.301));
    }
}

.product-info {
    font-size: 10px;
    width: 175px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.cart-name {
    font-size: 18px;
    margin: 0;
}

.cart-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-list::-webkit-scrollbar-track {
    width: 10px;
}

.cart-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(49, 49, 49, 0.37);
}

.cart-list::-webkit-scrollbar {
    border-radius: 10px;
    background: rgba(12, 12, 12, 0.781);
}

.cart-email {
    padding: 10px;
    display: flex;
    align-items: center
}

.email-input {
    background: #33333360;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 8px 0;
    padding-left: 15px;
    color: #b6b6b6;
}
