.store-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	gap: 35px;
}

.new-games {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Clean {
	font-weight: 800;
	background: #414141 !important;
	&:hover {
		background: #616161 !important;
	}
}

.filters {
	display: flex;
	flex-direction: row;
	width: calc(max-content + 50px);
}

.filter {
	font-family: Nunito;
	border: none;
	color: inherit;
	cursor: pointer;
	padding: 0 20px 0 20px;
	margin: 0 5px 0 5px;
	border-radius: 10px;
	height: 35px;
	background: #292929;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover {
		background: #494949;
	}
	&:focus {
		background: #494949;
	}
}

.new-games-text {
	width: 100%;
	margin-left: 45px;
	text-align: left;
	font-size: 55px;
}

@media screen and (max-width: 1800px) {
	.store-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media screen and (max-width: 1500px) {
	.store-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 1200px) {
	.store-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 900px) {
	.store-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.store-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
