.carditem {
	will-change: transform;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 270px;
	height: 470px;
	margin: 0;
	background: #0f0f0f;
	border-radius: 15px;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover {
		transform: scale(1.008);
		filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.301));
	}
}

.carditem-controls {
	z-index: 10;
	display: flex;
	flex-direction: column;
	mask-position: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
}

.carditem-image {
	border-radius: 15px;
	background-size: cover;
	width: 270px;
	height: 400px;
}

.image-border {
	border-radius: 15px;
	overflow: hidden;
	width: 270px;
	height: 400px;
}

.carditem-name {
	cursor: text;
	font-size: 28px;
	z-index: 10;
	margin: 10px 0 0 10px;
}

.carditem-button {
	z-index: 10;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	width: 250px;
	height: 35px;
	margin: 10px 0 0 10px;
	border-radius: 10px;
	color: inherit;
	background: #363636;
	border: none;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover {
		background: #4b4b4b;
		filter: drop-shadow(0 0 0.75rem rgba(131, 131, 131, 0.11));
	}
}

.carditem-description {
	z-index: 10;
	margin: 0 0 10px 12px;
	width: 270px;
	height: 10px;
	color: #b3b3b3;
}

.carditem-price {
	cursor: text;
	z-index: 10;
	font-size: 25px;
	margin: 10px 0 0 12px;
}