.carditem {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	width: 270px;
	height: 480px;
	margin: 0;
	background: #141414;
	border-radius: 15px;
	transition: all .5s linear;
	&:hover {
		.carditem-image {
			background-size: 150%;
		}
	}
}

.carditem-image {
	width: 270px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.carditem-name {
	cursor: text;
	z-index: 10;
	margin: 30px 0 0 10px;
}

.carditem-button {
	z-index: 10;
	cursor: pointer;
	width: 250px;
	height: 35px;
	margin: 20px 0 0 10px;
	border-radius: 10px;
	color: inherit;
	background: #363636;
	border: none;
}

.carditem-price {
	cursor: text;
	z-index: 10;
	font-size: 25px;
	margin: 10px 0 0 10px;
}

.blur {
	width: 270px;
	height: 450px;
	position: absolute;
	backdrop-filter: blur(30px);
	mask: url('https://media.discordapp.net/attachments/888505536457367552/1101822176857948221/mask.png');
	mask-type: alpha;
	mask-position: bottom;
	-webkit-mask-position: bottom;
	-webkit-mask-position-y: 396px;
}