.dev-favorite {
    margin-top: 100px;
    margin-left: 35px;
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dev {
	font-size: 24px;
}

.fav-text {
	margin: 50px;
    font-size: 55px;
}

@media screen and (max-width: 1800px) {
	.store-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media screen and (max-width: 1500px) {
	.store-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 1200px) {
	.store-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 900px) {
	.store-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.store-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
