.product {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-card {
	border-radius: 20px;
	padding: 20px;
	width: calc(100% - 60px);
	background: rgb(12 12 12 / 85%);
	margin: 100px 0 0 0;
	display: flex;
}

.product-image {
	margin: 20px;
	border-radius: 20px;
	width: 360px;
	height: 500px;
	background-size: cover;
}

.product-name {
	text-align: center;
	margin: 0 0 10px 0;
	font-size: 50px;
	font-weight: 800;
}

.product-dev {
	margin: 0 0 30px 5px;
	font-size: 25px;
	font-weight: 600;
	color: #ebebeb91;
}

.product-category {
	margin: 0 0 0 5px;
	font-size: 18px;
	font-weight: 600;
	color: #ebebeb91;
}

.product-button {
	font-family: Nunito;
	font-size: 20px;
	font-weight: 700;
	border: none;
	color: inherit;
	cursor: pointer;
	padding: 0 20px 0 20px;
	margin: 10px 0 20px 0;
	border-radius: 10px;
	width: 250px;
	height: 40px;
	background: #292929;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		color: #292929;
		background: #ebebeb;
	}
}

.product-price {
	font-size: 40px;
	font-weight: 700;
	margin: 10px 0 10px 0;
}

.product-rightSide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: max-content;
	margin-right: 100px;
}

@media screen and (max-width: 980px) {

	.product-name {
		font-size: 30px;
	}

	.product-price {
		font-size: 20px;
	}

	.product-rightSide {
		margin: 0;
	}
}

@media screen and (max-width: 950px) {

	.product-card {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30px;
		width: calc(100% - 80px);

		.product-name {
			font-size: 50px;
		}

		.product-dev {
			text-align: center;
			width: 100%;
			font-size: 25px;
			margin: 0 0 5px 0;
		}

		.product-category {
			text-align: center;
			width: 100%;
			font-size: 25px;
		}

		.product-price {
			font-size: 35px;
		}

		.product-rightSide {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 0;
		}

		.product-button {
			font-size: 25px;
			width: calc(100% - 20px);
			height: 60px;
		}
	}
}

@media screen and (max-width: 620px) {
	.product-card {

		.product-image {
			width: 270px;
			height: 370px;
		}

		.product-name {
			font-size: 40px;
		}

		.product-rightSide {
			margin: 0;
		}
	}
}

@media screen and (max-width: 400px) {
	.product-card {

		.product-image {
			margin: 10px;
			width: 220px;
			height: 260px;
		}

		.product-name {
			font-size: 28px;
		}

		.product-dev {
			text-align: center;
			width: 100%;
			font-size: 20px;
		}

		.product-category {
			text-align: center;
			width: 100%;
			font-size: 20px;
		}

		.product-price {
			font-size: 30px;
		}

		.product-button {
			font-size: 20px;
			height: 50px;
		}

		.product-rightSide {
			margin: 0;
		}
	}
}