.header {
	z-index: 100;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 0;
	position: fixed;
}

.internal-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #0c0c0c83;
	backdrop-filter: blur(15px);
	width: calc(100% - 20px);
	border-radius: 20px;
}

.right-side {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.left-side {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 300px;
	white-space: nowrap;
}

.menu-image {
	width: 30px;
	height: 30px;
}

.menu-button {
	cursor: pointer;
	margin: 0 50px 0 20px;
	width: 30px;
	height: 30px;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover {
		transform: rotate(90deg);
	}
}

.logo-font{
	cursor: pointer;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover {
		filter: drop-shadow(0 0 20px #ffffff7e);
	}
}


.link {
	text-decoration: none;
	color: inherit;
	font-size: 28px;
	font-weight: 600;
	margin: 0 25px 0 25px;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	justify-content: center;
}

.search {
	font-size: 15px;
	width: calc(100% - 200px);
	height: 35px;
	background: #33333360;
	border-radius: 10px;
	border: none;
	outline: none;
	padding-left: 15px;
	color: inherit;
}

.favorite {
	cursor: pointer;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	margin: 0 30px 0 30px;
	width: 35px;
	height: 35px;
	&:hover{
		filter: drop-shadow(0 0 10px rgb(255, 104, 104));
		transform: scale(1.2);
	}
}

.cart {
	cursor: pointer;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	width: 40px;
	height: 40px;
	&:hover{
		filter: drop-shadow(0 0 10px rgb(224, 224, 224));
		transform: scale(1.2);
	}
}