@mixin rotateAnimation() {
	cursor: pointer;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover {
		transform: rotate(90deg);
	}
}

@mixin hoverAnimation() {
	cursor: pointer;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover {
		filter: brightness(0.6);
	}
}

@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	z-index: 10;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 0;
	position: fixed;
}

.internal-header {
	z-index: 10;
	display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(12 12 12 / 85%);
    backdrop-filter: blur(55px);
    width: calc(100% - 20px);
    border-radius: 20px;
}

.right-side {
	@include flexCenter();
}

.left-side {
	@include flexCenter();
	width: 300px;
	white-space: nowrap;
}

.menu-image {
	width: 30px;
	height: 30px;
}

.menu-button {
	@include rotateAnimation();
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 50px 0 20px;
	width: 30px;
	height: 30px;
}

.logo-font{
	@include hoverAnimation();
}


.header-link {
	text-decoration: none;
	color: inherit;
}

.center {
	width: 50%;
	flex-direction: column;
	@include flexCenter();
}

.favorite {
	cursor: pointer;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	margin: 0 30px 0 30px;
	width: 35px;
	height: 35px;
	&:hover{
		filter: brightness(0.6);
	}
}

.overlay {
	z-index: 5;
	user-select: all;
	position: absolute;
	width: 100%;
	height: 1000vh;
	background: #0000007e;
}

.cart-counter {
	z-index: 20;
	position: absolute;
	color: #000;
	font-size: 15px;
	font-weight: 700;
	margin-left: 5px;
}

.cart {
	width: 40px;
	height: 40px;
}

.cart-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50px;
	height: 100%;
	cursor: pointer;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover{
		filter: brightness(0.6);
	}
}

@media screen and (max-width: 980px) {
	.logo-font {
		font-size: 20px;
	}

	.favorite {
		width: 30px;
		height: 30px;
	}

	.cart {
		width: 30px;
		height: 30px;
	}
	
	.menu-image {
		width: 20px;
		height: 20px;
	}
}

@media screen and (max-width: 620px) {

	.logo-font {
		font-size: 18px;
	}

	.right-side {
		display: none;
	}

	.center {
		display: none;
	}

	.new-games-text {
		font-size: 40px;
	}
}