.emoji-container,
.inSearch {
    width: max-content;
    height: max-content;
    margin: 40px;
}

.emoji-container,
.inButton {
    width: max-content;
    height: max-content;
    margin: 3px;
}

.inSearch {
    width: 100px;
}

.inButton {
    width: 20px;
}
