.search {
	font-size: 15px;
	width: calc(100% - 200px);
	height: 35px;
	background: #33333360;
	border-radius: 10px;
	border: none;
	outline: none;
	padding-left: 15px;
	color: #b6b6b6;
}

.searchBox {
	overflow-y: auto;
	border: 20px solid transparent;
	display: grid;
	padding: 40px;
	gap: 40px;
	justify-content: center;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: repeat(1fr 100px);
	width: calc(100% - 500px);
	height: 500px;
	top: 100px;
	border-radius: 15px;
	position: absolute;
    background: rgb(12 12 12 / 85%);
    backdrop-filter: blur(55px);
}

.searchBox::-webkit-scrollbar-track {
	width: 20px;
}

.searchBox::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(49, 49, 49, 0.37);
}

.searchBox::-webkit-scrollbar {
	border-radius: 10px;
	background:  rgba(12, 12, 12, 0.781);
}

.search-notfound {
    top: 200px;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
}

.search-image {
	margin: 40px;
	width: 100px;
}