.search {
	font-size: 15px;
	width: calc(100% - 200px);
	height: 35px;
	background: #33333360;
	border-radius: 10px;
	border: none;
	outline: none;
	padding-left: 15px;
	color: #b6b6b6;
}

.searchBox {
	backdrop-filter: blur(20px);
	overflow-y: scroll;
	display: grid;
	padding: 40px;
	gap: 40px;
	justify-content: center;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: repeat(1fr 100px);
	width: calc(100% - 500px);
	height: 500px;
	top: 100px;
	border-radius: 15px;
	position: absolute;
	background: rgba(12, 12, 12, 0.781);
}