.footer {
	margin: 50px 0 20px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.internal-footer {
	border-radius: 20px;
	background: #0f0f0f;
	padding: 0 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: calc(100% - 100px);
}

.footer-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-image {
	margin: 0 10px;
	width: 45px;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		filter: brightness(0.6);
	}
}

.telegram {
	width: 42px;
}