.filters {
	display: flex;
	flex-direction: row;
	width: calc(max-content + 50px);
}

.filter {
	font-family: Nunito;
	border: none;
	color: inherit;
	cursor: pointer;
	padding: 0 20px 0 20px;
	margin: 0 5px 0 5px;
	border-radius: 10px;
	height: 35px;
	background: #292929;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover {
		color: #292929;
		background: #ebebeb;
	}
	&:focus {
		color: #292929;
		background: #ebebeb;
	}
}

.Clean {
	font-weight: 800;
	background: #414141;
	&:hover {
		color: #292929;
		background: #ebebeb;
	}
}
