.notfound {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70vh;
}

.notfound-container {
	width: max-content;
	height: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0f0f0f;
	padding: 0 40px;
	border-radius: 20px;
}

@media screen and (max-width: 600px) {
	.notfound-container {
		text-align: center;
		flex-direction: column;
	}
}

@media screen and (max-width: 320px) {
	.notfound-text {
		font-size: 25px;
	}
}